@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    font-family: "Roboto", sans-serif;
}

body {
    line-height: 1.5rem;
}

img {
    max-width: 100%;
    display: block;
    margin: auto;
}

h1 {
    text-align: center;
    padding-top: 2.5rem;
}

h2 {
    text-align: center;
    padding-top: 2.5rem;
}

h3 {
    text-align: center;
    padding-top: 2.5rem;
}

p {
    text-align: center;
}