@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: rgba(89, 134, 78, 0.616);
}

h1 {
    text-align: center;
    font-size: 3rem;
}

/* FIXED MARKER */
.fixed-marker {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 3;
}

.fixed-marker h2 {
    margin-bottom: 0;
}

#title2 {
    color: rgb(255, 242, 198);
    background-color: rgba(18, 61, 18, 0.733);
    font-size: 2rem;
}

#title2-br {
    color: rgb(18, 61, 18);
    font-size: 2rem;
}

#owner-mark {
    text-align: right;
    padding-top: 0;
    margin-left: 0;
    font-size: .5rem;
}

/* MAIN FORM */
#form-marker {
    text-align: center;
}

.form-group {
    background-color: lightyellow;
    padding: 1rem;
    border-radius: 10px;
    max-width: 20rem;
    margin: auto;
    border: 2px solid black;
}

input, textarea {
    display: block;
    margin: auto;
    border-radius: 10px;
    margin-top: 1rem;
    max-width: 20rem;
    font-size: 1.8rem;
}

textarea {
    border: 2px solid black;
    font-family: "Montserrat", sans-serif;
    min-width: 20rem;
    max-width: 20rem;

}

/* BUTTONS */

button {
    border-radius: 10px;
    display: block;
    margin: auto;
    margin-top: 1rem;
    padding: .5rem;
    font-size: 1.8rem;
    background-color: rgba(89, 134, 78, 0.616);
}

button:hover {
    background-color: rgb(199, 199, 174);
}

button:active {
    background-color: rgba(89, 134, 78, 0.616);
    color: white;
    border: 2px solid lightyellow;
}

a:active {
    color: white;
}

#contact {
    color: black;
    text-decoration: none;
}

/* FOOTER */
footer {
    text-align: left;
    margin-top: 20rem;
}

footer ul {
    padding-left: 0;
}

footer li {
    list-style-type: none;
    padding: 1rem;
    font-size: 1.5rem;
}

footer a {
    text-decoration: none;
}

@media screen and (min-width: 700px) {

    h1 {
        font-size: 4rem;
        margin-top: 6rem;
    }

    #form-marker  {
        position: absolute;
        top: 0;
        right: 0;
        margin-right: .5rem;
        margin-top: .5rem;
    }

    .form-group {
        position: relative;
        max-width: 50%;
    }

    input {
        margin-left: 0;
        font-size: 2rem;
        max-width: 20rem;
    }

    textarea {
        font-size: 2rem;
        min-width: 20rem;
        margin-left: 0;
        max-width: none;
    }



    /* FIXED MARKER */
    .fixed-marker {
        position: fixed;
        top: 0;
        left: 1rem;
        max-height: 3.5rem;
        max-width: 16rem;
    }

    .fixed-marker h2 {
        margin-bottom: 0;
    }

    #title2 {
        font-size: 2.5rem;
        color: lightyellow;
    }

    #title2-br {
        font-size: 2.5rem;
        color: rgb(18, 61, 18);
    }

    #owner-mark {
        text-align: right;
        padding-top: 0;
        margin: 0;
        font-size: 1.25rem;
        margin-top: .5rem;
    }

    button {
        font-size: 2rem;
        min-width: 10rem;
    }



    /* FOOTER */
    footer {
        text-align: center;
        margin-top: 20rem;
    }

    footer li {
        list-style-type: none;
        display: inline-block;
        padding: 6rem;
    }

    footer a {
        text-decoration: none;
    }
}